<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>footer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/65b62c81b2.js" crossorigin="anonymous"></script>

</head>
<body>
<footer>
<div class="container-fluid" style="background-color:#E5F1FC;">

  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" href="#"><span style="font-color:grey;margin-left:55px;">Policies:  </span> Terms of Use</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Privacy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
    <div  style="margin-top:10px">
    <a class="icon" style="margin-left:700px"><i class="fa-brands fa-facebook-f"></i></a>
    <a class="icon" style="margin-left:25px"><i class="fa-brands fa-twitter"></i> </a>
    <a class="icon" style="margin-left:25px"><i class="fa-brands fa-tumblr"></i></a>
    <a class="icon" style="margin-left:25px"><i class="fa-brands fa-instagram"></i></a>
</div>
  </ul>

</div>
</footer>
</body>
</html>