<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
{% extends 'base.html' %}
{% load static %}
{%block title%}{% endblock %}
{% block search %}
<div class="card">

{% if search_query %}
    <h1>Search results for "{{ search_query }}"</h1>

    {% if filtered_model %}
        <ul>
            {% for BOOK in filtered_model %}

                <a href="" class="btn">
                    <div style="margin-left:100px">
                        <img src="{{BOOK.Productimage.url}}" width="300px" height="200px">
                        <div class="fw-bold">{{BOOK.Title}}</div>
                        <div class="fw-bold text-danger">Rs.{{BOOK.Discountprice}}/-
                        <small class="fw-light text-decoration-line-through">{{BOOK.Sellingprice}}/-</small>
                        </div>
                    </div>
                </a>
            {% endfor %}
    {% else %}
        <h4>No results found for "{{ search_query }}"</h4>
    {% endif %}
       </ul>
{% endif %}
</div>
{% include "footer.html" %}
{% endblock %}
</body>
</html>