<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WISHLIST</title>

</head>
<body>
{% extends 'base.html' %}
{% load static %}
{%block title%}{% endblock %}
{% block cart %}
<div class="container my-5">
    <div class="row">
        <div class=" col-sm-8">
            <div class="row">
                    {% for prod in product %}
                        <div class="col-sm-3 text-center mb-4 hover-shadow align-self-center">
                            <a href="{% url 'productdetails' prod.id %}" class="btn">
                          <div>
                            <img src="{{prod.product.Productimage.url}}" width="300px" height="200px">
                            <div class="fw-bold">{{prod.product.Title}}</div>
                            <div class="fw-bold text-danger">Rs.{{prod.product.Discountprice}}/-
                                <small class="fw-light text-decoration-line-through">{{prod.product.Sellingprice}}/-</small>
                                <a href="removewishlist/{{item.product.id }} " class="remove-cart btn btn-sm btn-secondary mr-3" id={{item.product.id}}>Remove item</a>

                            </div>
                          </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

</div>


{% endblock %}

</body>
</html>